<div class="navbar navbar-fixed-bottom">
  <footer class="footer">
    <small>
      Ruby on Rails
      by Mathias Claesson
    </small>
    <nav>
      <ul>
        <li><%= link_to 'Om',   about_path %></li>
        <li><%= link_to 'Kontakt', contact_path %></li>
      </ul>
    </nav>
</footer>
</div>