<!--
<div class="col-md-12 well well-lg">
   <div class="input-group">
        <input type="text" class="form-control" placeholder="Sök tag..." ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8">
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="getTags()">Hämta</button>
        </span>
    </div>-->
    <div class="scroll">
        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                    ng-disabled="vm.isDisabled"
                    md-no-cache="vm.noCache"
                    md-selected-item="vm.selectedItem"
                    md-search-text-change="vm.searchTextChange(vm.searchText)"
                    md-search-text="vm.searchText"
                    md-selected-item-change="vm.selectedItemChange(item)"
                    md-items="item in vm.querySearch(vm.searchText)"
                    md-item-text="item.display"
                    md-min-length="0"
                    placeholder="Sök på en tag...">
                <md-item-template>
                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                    No states matching "{{vm.searchText}}" were found.
                    <a ng-click="vm.newState(vm.searchText)">Create a new one!</a>
                </md-not-found>
            </md-autocomplete>
            <br/>
        </form>


        <table class="table table-hover">
            <thead>
            <th>Name</th>
            </thead>
            <tbody>
            <tr ng-repeat="event in filteredBacklog = (vm.searchTags | filter:{$: criteria})">
                <td>{{event.name}}</td>
                <td><button type="button" class="btn btn-default" ng-click="vm.addMarkerOnMap(event)">Hämta event!</button></td>
            </tr>
            Total: {{filteredBacklog.length}}
            </tbody>
        </table>
    </div>
