<div class="col-md-6">
    <ng-map default-style="true" center="59.329323, 18.068581" zoom="3">
        <marker id='{{shop.id}}'
                position="{{shop.position.lat}},{{shop.position.long}}"
                ng-repeat="shop in vm.shops"
                on-click="vm.showDetail(shop)">
        </marker>

        <info-window id="myInfoWindow">
            <div ng-non-bindable="">
                <p class="font-weight-bold">{{vm.shop.name}}</p>
                <a href="#" ng-click="vm.infoToBox(vm.shop)">Mer information här</a>
            </div>
        </info-window>
    </ng-map>
</div>

<div ng-hide="showInfoBox()" class="col-md-6">
    <h3 class="text-center">{{infoWindow.name}}</h3>
    <p class="text-center">{{infoWindow.description}}</p>
    <p ng-repeat="info in infoWindow">{{info.name}}</p>
    <p>{{infoWindow.created_at}}</p>
    <p class="text-center" ng-repeat="info in infoWindow">{{info.address}}</p>
</div>