
<h4>Static arrays</h4>
<pre>Model: {{selected | json}}</pre>


<div class="col-md-12">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Sök tag..." ng-value="onedit()" ng-model="selected" uib-typeahead="state for state in states | filter:$viewValue | limitTo:8">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="getTags()">Hämta</button>
                </span>
    </div>

    <table class="table table-bordered">
        <thead>
        <th>Name</th>
        </thead>
        <tbody>
        <tr ng-repeat="event in filteredBacklog = (vm.searchTags | filter:{$: criteria})">
            <td>{{event.name}}</td>
            <td> <button ng-click="go(event)">Hämta event!</button></td>
        </tr>
        Total: {{filteredBacklog.length}}
        </tbody>
    </table>
</div>
