<% provide(:title, 'Alla användare!') %>
<h1>Alla användare</h1>
<p>Redigera användare här. Radera eller gå in på en användare och redigera API nyckel </p>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users %>


