
<div class="pull-right" data-ng-controller="LoginController as user">
    <div class="col-md-3" >
        <button ng-click="login()" class="btn btn-success" data-ng-show="!$root.isLoggedIn" >Logga in</button>
        <button ng-click="logout()" class="btn btn-danger" data-ng-show="$root.isLoggedIn" >Logga ut</button>
    </div>

    <modal title="Login form" visible="showModal">
        <form role="form" name="user.form">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" ng-model="user.email" class="form-control" id="email" placeholder="Enter email" />
            </div>
            <div class="form-group">
                <label for="password">Lösenord</label>
                <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Password" />
            </div>
            <button type="submit" class="btn btn-default" data-ng-click="user.login()">Logga in</button>
        </form>
    </modal>
</div>

