

<hr />


    <p class="alert alert-success" data-ng-show="$root.isLoggedIn">Du är inloggad</p>
    <p class="alert alert-danger" data-ng-show="!$root.isLoggedIn">Du är inte inloggad</p>



</div>

<hr />


<div class="col-md-4" data-ng-controller="LoginController as user">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Logga in</h3>
        </div>
        <div class="panel-body">
            <form novalidate name="user.form" class="simple-form">
                E-mail: <br />
                <input type="email" ng-model="user.email"/><br />
                Password: <br />
                <input type="password" ng-model="user.password"/>
                <button data-ng-click="user.login()">Logga in</button>
            </form>

            <h4>En lyckad inloggning ger dig en token du kan använda när du gör operationer som kräver inloggning</h4>
            <p>Token: {{$root.token}}</p>
        </div>
    </div>