

<hr />
<div>
    <p class="alert alert-success" data-ng-show="$root.isLoggedIn">Du är inloggad</p>
    <p class="alert alert-danger" data-ng-show="!$root.isLoggedIn">Du är inte inloggad</p>
</div>

<hr />


<div class="col-md-4" data-ng-controller="LoginController as user">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Logga in</h3>
        </div>
        <div class="panel-body">
            <form novalidate name="user.form" class="simple-form">
                E-mail: <br />
                <input type="email" ng-model="user.email"/><br />
                Password: <br />
                <input type="password" ng-model="user.password"/>
                <button type="button" class="btn btn-primary" data-ng-click="user.login()">Logga in</button>
            </form
        </div>
    </div>
</div>

<hr />
